header{
	margin-bottom:20px;
}
.mgr{
	margin: 30px 0;
}
.actions{
	margin-top: 50px;
}
.actions .btn{
	margin-right: 40px;
}
.actions .btn-danger{
	position: relative;
	bottom: -8px;
}
.bg-success,
.bg-danger{
    padding: 20px;
    width: 100%;
    display: block;
}
.btn-c{
	position: relative;
	top: 20px;
}
.login .bg-danger{
	width: 100%;
	display: block;
	margin-bottom: 25px;
}
.bg-danger + .bg-danger{
	margin-top: 10px;
}
.center{
	text-align: center;
}
footer{
	background: #ccc;
	padding: 20px;
	margin-top: 20px;
}